<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ApplyLanguageClass</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Class</display-name>
    <servlet-name>Class</servlet-name>
    <servlet-class>model.Class</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Class</servlet-name>
    <url-pattern>/Class</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Section</display-name>
    <servlet-name>Section</servlet-name>
    <servlet-class>model.Section</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Section</servlet-name>
    <url-pattern>/Section</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tutor</display-name>
    <servlet-name>Tutor</servlet-name>
    <servlet-class>model.Tutor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tutor</servlet-name>
    <url-pattern>/Tutor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnglishChoose</display-name>
    <servlet-name>EnglishChoose</servlet-name>
    <servlet-class>com.EnglishChoose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnglishChoose</servlet-name>
    <url-pattern>/EnglishChoose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MalayChoose</display-name>
    <servlet-name>MalayChoose</servlet-name>
    <servlet-class>com.MalayChoose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MalayChoose</servlet-name>
    <url-pattern>/MalayChoose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChineseChoose</display-name>
    <servlet-name>ChineseChoose</servlet-name>
    <servlet-class>com.ChineseChoose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChineseChoose</servlet-name>
    <url-pattern>/ChineseChoose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JapaneseChoose</display-name>
    <servlet-name>JapaneseChoose</servlet-name>
    <servlet-class>com.JapaneseChoose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JapaneseChoose</servlet-name>
    <url-pattern>/JapaneseChoose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KoreanChoose</display-name>
    <servlet-name>KoreanChoose</servlet-name>
    <servlet-class>com.KoreanChoose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KoreanChoose</servlet-name>
    <url-pattern>/KoreanChoose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EngOnlineClass</display-name>
    <servlet-name>EngOnlineClass</servlet-name>
    <servlet-class>com.EngOnlineClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EngOnlineClass</servlet-name>
    <url-pattern>/EngOnlineClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EngPrivateTutor</display-name>
    <servlet-name>EngPrivateTutor</servlet-name>
    <servlet-class>com.EngPrivateTutor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EngPrivateTutor</servlet-name>
    <url-pattern>/EngPrivateTutor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MlyOnlineClass</display-name>
    <servlet-name>MlyOnlineClass</servlet-name>
    <servlet-class>com.MlyOnlineClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MlyOnlineClass</servlet-name>
    <url-pattern>/MlyOnlineClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MlyPrivateTutor</display-name>
    <servlet-name>MlyPrivateTutor</servlet-name>
    <servlet-class>com.MlyPrivateTutor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MlyPrivateTutor</servlet-name>
    <url-pattern>/MlyPrivateTutor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChnOnline</display-name>
    <servlet-name>ChnOnline</servlet-name>
    <servlet-class>com.ChnOnline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChnOnline</servlet-name>
    <url-pattern>/ChnOnline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChnPrivateTutor</display-name>
    <servlet-name>ChnPrivateTutor</servlet-name>
    <servlet-class>com.ChnPrivateTutor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChnPrivateTutor</servlet-name>
    <url-pattern>/ChnPrivateTutor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JpnOnlineClass</display-name>
    <servlet-name>JpnOnlineClass</servlet-name>
    <servlet-class>com.JpnOnlineClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JpnOnlineClass</servlet-name>
    <url-pattern>/JpnOnlineClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JpnPrivateTutor</display-name>
    <servlet-name>JpnPrivateTutor</servlet-name>
    <servlet-class>com.JpnPrivateTutor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JpnPrivateTutor</servlet-name>
    <url-pattern>/JpnPrivateTutor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KrnOnlineClass</display-name>
    <servlet-name>KrnOnlineClass</servlet-name>
    <servlet-class>com.KrnOnlineClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KrnOnlineClass</servlet-name>
    <url-pattern>/KrnOnlineClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KrnPrivateTutor</display-name>
    <servlet-name>KrnPrivateTutor</servlet-name>
    <servlet-class>com.KrnPrivateTutor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KrnPrivateTutor</servlet-name>
    <url-pattern>/KrnPrivateTutor</url-pattern>
  </servlet-mapping>
</web-app>
